body{
    margin: 0 auto;
    width: 800px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    border: 1 solid black;
    min-height: 400px;
}

.content{
    flex: 1;
    border: 1px solid black;
}

.content.left, .content.right{
    display: flex;
    flex-direction: column;
}

.content.right{
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.content.left .list-item{
    height: 40px;
    width: 100%;
    line-height: 40px;
    vertical-align: 50%;
    text-align: center;
    border: 1px solid black;
}

.content.right .title{
    display: flex;
    height: 60px;
}

.content.right .container{
    flex: 1;
}
