body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kotak-utama{
    width: 70%;
    height: 625px;
    margin: auto;
    background-color: lightgreen;
    margin-top: 10px;
    border-radius: 20px; 
}

.kotak-pertama{
    width: 35%;
    height: 250px;
    background-color: lightblue;
    margin-top: 10px;
    margin: auto;
    border-radius: 20px;
}

img{
    padding: 1px;
    margin: 2px;
    float: none;
}

.kotak-kedua{
    width: 35%;
    height: 250px;
    background-color: lightgray;
    margin-top: 10px;
    margin: 20px;
    border-radius: 20px;
    float: left;
}

.kotak-ketiga{
    width: 36%;
    height: 245px;
    background-color: lightpink;
    border-radius: 20px;
    margin: 20px;
    float: right;
}

#nama{
    padding: 2px;
    margin: 1px;
    color: darkblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ttl{
    padding: 2px;
    margin: 1px;
    color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#umur{
    padding: 2px;
    margin: 1px;
    color: darkgoldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sekolah{
    padding: 2px;
    margin: 1px;
    color: darkgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#citacita{
    padding: 2px;
    margin: 1px;
    color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.keterangan{
    padding: 3px;
    margin: 1px;
}