h1{
    text-align: center;
}

.Logo{
    text-align: center;
}

.gambar{
    height: 150px;
    width: 250px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    text-align: center;
}

.Sebuah-kotak{
    height: 300px;
    width: 300px;

}

form {
    border: 3px solid #f1f1f1;
    width: 350px;
}

button{
    background-color: greenyellow;
    height: 30px;
    width: 100%;
}