body{
    background: linear-gradient(to bottom, #000099 0%, #00ccff 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#display{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.text{
    color: whitesmoke;
    margin: 0px;
    padding: 10px;  
}

img{
    border: 1px solid black;
    border-radius: 20px;
}